<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Shoppee</title>
    <link rel="stylesheet" href="{% static "CSS/myStyle.css" %}" />
</head>
<body>
    {% include '../base.html' %}
    <div>
        <form action="logout" method="POST" style="float: right;">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <ul style="display: list-item;">
                    <li >
                        <h3>Hello,{{ user.first_name }} </h3>
                        <br>
                    </li>
                    <li>
                        <a>
                            <button type="submit" class="logout">LOG OUT</button>
                        </a>
                    </li>
                </ul>
            </form>
            {% else %}
            <h2 style="text-align: center; color:blue">Redirecting to Login...</h2>
            <meta http-equiv="refresh" content="3; URL=/" />
            {% endif %}
    </div>
</body>
</html>