<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot</title>
</head>
<body>
    {% include '../base.html' %}
    <br><br>
    <div style= "text-align: center;" >
        <form style="align-items: center;" method="POST">
            {% csrf_token %}
            {% for message in messages %}
            <h2 style="text-align: center;">{{ message }}</h2>
            {% endfor %}
           <label> <b> OTP </b> </label>
           <input type= "password" required = "true" minlength = 5  maxlength = 10 name='otp'></input>
           <br>
           <label> <b> Password </b> </label>
           <input type= "password" required = "true" minlength = 5  maxlength = 30 name='password1'></input>
           <br>
           <label> <b> Confirm Password </b> </label>
           <input type= "password" required = "true" minlength = 5  maxlength = 30 name='password2'></input>
           <br><br>
          <button> CHANGE PASSWORD </button>
        </form>
</body>
</html>