<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "CSS/myStyle.css" %}" />
    <link rel="shortcut icon" href="#"/>
</head>
<body style="background-color: #EDF5E1;">
    {% block content %}
    <div class='topnav'>
        {% if user.is_authenticated %}
        <a href="{% url 'app' %}">
        {% else %}
        <a href="{% url 'login' %}">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="column_header_1">
                    <img src="{% static "Images/cart_icon.png" %}" alt="Cart Image"; width="50" height="50">
                </div>
                <div class="column_header_2">
                    <h1>Ecart Shoppee</h1>
                </div>
            </div>
        </div>
        </a>
    </div>
    {% endblock %}
</body>
</html>