<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "CSS/myStyle.css" %}" />
</head>
<body>
    {% block content %}
    <div class='topnav'>
        <a href="{% url 'login' %}">
        <img src="{% static "Images/cart_icon.png" %}" alt="Cart Image"; width="50" height="50">
        </a>
    </div>
    <div>
        <h1>Ecart Shoppee</h1>
    </div>
    {% endblock %}
</body>
</html>