<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Shoppee</title>
    <link rel="stylesheet" href="{% static "CSS/myStyle.css" %}" />
</head>

<body>
    <div style="background-color:teal; border-radius: 20px;">
        {% include '../base.html' %}
        <div>
            <div class="container">
                <div class="row">
                    <br>
                    <div class="column_search">
                        <input id="search" name="search" type="text" class="query-search" placeholder="Search...">
                        <button id="search">Search</button>
                    </div>
                    <div class="column_logout" style="text-align:left ;">
                        <form action="logout" method="POST" style="float: right;">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                <a>
                                    <button class="search_button" type="submit" class="logout">Log out</button>
                                </a>
                        </form>
                    </div>
                    <div class="column_logout" style="text-align:left ;">
                        <form action="cart">
                            <button type="submit">Cart:<span>{{ user_data.count }}</span></button>
                        </form>                       
                    </div>
                    <div class="column_logout" style="text-align:left ;">
                        <form action="order">
                            <button type="submit">Orders</button>
                        </form>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form action="product" method="POST">
            {% csrf_token %}
            <div class="container" style="text-align: center;">
                <div class="row">
                    {% for product in products %}
                    <div class="column" style="background-color: #CAFAFE;">
                        <img width=200 height=230 src="{{ product.image.url }}" alt="Product One">
                        <h2 style="text-align: center;">{{ product.name }} </h2>
                        <p style="text-align: center;"> <b>{{ product.description }}</b> </p>
                        <p style="text-align: center;"> <b>Rs.{{ product.price }} </b> </p>
                        <a href='product/{{ product.id }}'> {{ product.name }} </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </form>
        {% else %}
        <h2 style="text-align: center; color:blue">Redirecting to Login...</h2>
        <meta http-equiv="refresh" content="1; URL=/" />
        {% endif %}
    </div>
</body>
</html>